
@layer components {
  .footer__text {
    display: flex;
    justify-content: center;
    z-index: 1;
    height: 8rem;
    background-color: var(--background);
  }
}

#hidden-audio {
  display: none;
}