@use 'settings';

@layer generic {
  html {
    font-size: 100%;
    box-sizing: border-box; // total width includes padding
    
  }

  *, *::before, ::after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);
    background: var(--background);
    color: var(--foreground);
  }




  ///////////
  .wrapper {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 1rem;
  }

  .section-title {
    font-size: 2.25rem;
  }

  section {
    padding-block: 5rem;
  }

  .diagonal {
    --skew-angle: -5deg;
    --background: linear-gradient(
      45deg, #6241d0, #C850C0, #C37236
    );

    // 45deg, #12c2e9, #c471ed, #f64f59
    // 45deg, #4158D0, #C850C0, #FFCC70 from grabient
    // C37236 orange

    position: relative;
    isolation: isolate;
    height: 12rem;
  }

  .diagonal::after {
    content: '';
    background: var(--background);
    position: absolute;
    inset: 0; // shorthand for top bottom left and right
    transform: skewY(var(--skew-angle));
    z-index: -1;
  }

  .spikes {
    --spike-color: var(--background);
    --spike-width: 80px;
    --spike-height: 12px;
    --svg-url: url('../../images/triangle.svg');
    position: relative;
    background: linear-gradient(
      to right, #fdc830, #f37335 
    );
  }

  // ../../images/svg/triangle.svg
  // ../../images/svg/funky-shape-3.svg
  // ../../images/svg/funky-shape-two.svg
  // ../../images/svg/funky-shape.svg
  // ../../images/svg/isoceles-right.svg
  // ../../images/svg/isoceles-left.svg
  // ../../images/svg/short-triangle-left.svg
  // ../../images/svg/short-triangle-right.svg
  // ../../images/svg/tiny-isoceles-left.svg
  // ../../images/svg/tiny-isoceles-right.svg
  // ../../images/svg/tiny-triangle-left.svg
  // ../../images/svg/tiny-triangle-right.svg
  // ../../images/svg/triangle-left.svg
  // ../../images/svg/triangle-right.svg
  

  .spikes::before,
  .spikes::after {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    background: var(--background);
    -webkit-mask-image: var(--svg-url);
    -webkit-mask-size: var(--spike-width) var(--spike-height);

    mask-image: var(--svg-url);
    mask-size: var(--spike-width) var(--spike-height);
  }

  // top svg
  .spikes::before {
    top: 0;
  }

  // Bottom svg
  .spikes::after {
    --svg-url: url('../../images/triangle.svg');
    --spike-width: 80px;
    --spike-height: 12px;
    bottom: 0;
    transform: rotate(.5turn);

    // -webkit-mask-size: var(--spike-width) var(--spike-height);

    // mask-image: var(--svg-url);
    // mask-size: var(--spike-width) var(--spike-height);
  }

  .wavy {
    background: linear-gradient(
      to right,
      #00a241,
      #0575e6
    );

    // #00f260,

    // #d4fffd,
    //   #0575e6,
    //   #d4fffd,

   
    --mask:
      radial-gradient(61.77px at 50% 84px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
      radial-gradient(61.77px at 50% -54px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
      radial-gradient(61.77px at 50% calc(100% - 84px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
      radial-gradient(61.77px at 50% calc(100% + 54px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    
  }
  
  .background-normal {
    background: var(--background);
    z-index: 1;
  }

  .cover-up {
    background: var(--background);
    z-index: 3;
    height: 7rem;
    width: 100%;
    margin-top: -100px;
    margin-bottom: -50px;
    
  }

  .cover-up__bottom {
    padding-bottom: 200px;
    margin-bottom: -200px;
    
  }

  .cover-up__hero {
    background: var(--clr-dark);
    z-index: 3;
    height: 7rem;
    width: 100%;
    margin-bottom: -160px;
    margin-left: 0;
    margin-right: 0;
    margin-top: -150px;
  }

  .spikes__title-bg {
    background-color: rgba(223, 126, 52, 0.65);
    width: fit-content;
    padding: 1rem;
    border-radius: .3rem;
   
  }





}

