@layer components {
  .player{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 50;
}
  .player__wrapper{
    
    border: 1px solid transparent;
    // border-radius: 10px;
    background-color: #ddd;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box; 
    
  }

  .player__details-slider {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    flex-grow: 1; 
    width: 100%; 
    max-width: 100%; 
    gap: 10px; 
  }
  
  .player__details {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding: 0 10px; 
    box-sizing: border-box; 

  }
    

  .player__track-name {
  font-size: 1.5rem;
  }
  
  
  .player__buttons {
    flex-shrink: 0;
    margin-right: 20px;
  }
  .active{
      color: black;
  }
  
  
  .playpause-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
  }
  
  .playpause-track:hover {
  opacity: 1.0;
  }
  
  .player__slider_container {
    flex-grow: 1;
    width: 100%; 
  }
  
  .player__seek_slider, .player__volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100% !important; 
  height: 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: #83A9FF;
  -webkit-transition: .2s;
  transition: opacity .2s;
  }
  
  .player__seek_slider::-webkit-slider-thumb,
  .player__volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774FF;
  cursor: grab;
  border-radius: 100%;
  }
  
  .player__seek_slider:hover,
  .player__volume_slider:hover {
  opacity: 1.0;
  }
  
  .player__seek_slider {
  width: 60%;
  }
    
  .player__current-time{
  
  font-size: 1rem;
  }
  
  // i.fa-volume-down,
  // i.fa-volume-up {
  // padding: 10px;
  // }
  
  i,
  i.fa-play-circle,
  i.fa-pause-circle,
  p {
  cursor: pointer;
  }
  
}