@use 'tools' as *;

@layer components {
  .parallax {
    // overflow: hidden;
    position: relative;
    z-index: 0;
    min-height: 75vh;
    display: grid;
    grid-template-areas: "stack";


  }
  
  .parallax > * {
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
  }
  
  .parallax > img {
    width: 100%;
  }

  
  .hero {
    --parallax-speed: 10;
    z-index: 10;
  }

  .parallax__bg {
    --parallax-speed: -10;
    z-index: 1;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    
  }

  .parallax__stars {
    --parallax-speed: -5;
    z-index: 2;
  }

  .parallax__logo {
    --parallax-speed: 15;
    z-index: 4;
    position: absolute; //// use position absolute to adjust
    top: 30%; 
    transform: translateY(-50%); 
    

    height: 80rem; 
    width: auto; 
    object-fit: contain; 

   
  }
  
  .parallax__space-baby {
    --parallax-speed: 25;
    z-index: 5;
    position: absolute; //// use position absolute to adjust
    top: 5%;
    left: 35%;
    transform: translateY(-25%);

    height: 25%;
    width: auto; /* Maintain the aspect ratio */
    object-fit: contain; /* Ensure the image is not stretched */
    max-width: 50%;

    @include breakpoint-down('medium') {
      height: 20%;      
      max-width: 15rem;
      top: 10%;
      left: 45%;
    }
  
    @include breakpoint-down('small') {
      height: 20%;      
      max-width: 12rem;
      top: 10%;
      left: 38%;
    }
    
  }


  
  @keyframes parallax {
    to {
      transform: 
        translateY(calc(var(--parallax-speed) * 200px)); /// positive value for moving down
    }
  }

  img {
    display: block;
    max-width: 100%;
  }

  .hero {
    margin-block-start: max(20vh, 8rem);
  }
  
  
  .main-content {
    position: relative;
    background: --background;
    padding-block: 6rem;
  }

  

}