// @forward 'tools'; // ensure that tools and typography are available to any file that imports settings.scss, without needing to directly import tools or typography
// @forward 'typography';

/* https://developer.helpscout.com/seed/glossary/itcss/#the-triangle */
@layer settings, tools, generic, elements, objects, typography, components, overrides;




@layer settings {
  :root {
    --clr-light: #D2E1AA;
    --clr-dark: #2C1529;
    --clr-primary: #3D8ABE;
    --clr-secondary: #402C51;
    --clr-accent: #C37236;

    --foreground: var(--clr-dark);
    --background: var(--clr-light);

    --font-inter: 'Inter', sans-serif;
  }

  .darkmode {
    --clr-light: #D2E1AA;
    --clr-dark: #2C1529;
    --clr-primary: #3D8ABE;
    --clr-secondary: #402C51;
    --clr-accent: #C37236;
  
    --foreground: var(--clr-light);
    --background: var(--clr-dark);
  }

}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: var(--dark-bg);
//     --text-color: var(--dark-text2);
//     --text-color2: var(--dark-text1);
//     --card-bg: var(--dark-card);
//     --card-hover: var(--dark-card-hover);
//     --toggle: var(--light-bg);
//     --toggle-bg: linear-gradient(
//       225deg,
//       var(--toggle-bg-end) 0%,
//       var(--toggle-bg-start) 98.02%
//     );
//     --toggle-button: var(--dark-bg);
//   }
// }

// body.light {
//   --background: var(--light-bg);
//   --text-color: var(--light-text2);
//   --text-color2: var(--light-text1);
//   --card-bg: var(--light-card);
//   --card-hover: var(--light-card-hover);
//   --toggle: var(--toggle-light);
//   --toggle-bg: var(--toggle-bg-light);
//   --toggle-button: var(--toggle-button-light);
// }

// body.dark {
//   --background: var(--dark-bg);
//   --text-color: var(--dark-text2);
//   --text-color2: var(--dark-text1);
//   --card-bg: var(--dark-card);
//   --card-hover: var(--dark-card-hover);
//   --toggle: var(--light-bg);
//   --toggle-bg: linear-gradient(
//     225deg,
//     var(--toggle-bg-end) 0%,
//     var(--toggle-bg-start) 98.02%
//   );
//   --toggle-button: var(--dark-bg);
// }